# === Generador KML Cobertura ===

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Compilados y caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de IDEs
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales
*.log
*.tmp
*.bak
*.cache
temp/
tmp/

# Archivos generados
*.kml
*.kmz
*.xlsx
*.csv
*.zip

# Archivos de entorno o credenciales
.env
config/credentials.json

